.card-img {
  background-image: url("https://www.aman.com/sites/default/files/styles/media_text_side_by_side_x_wide/public/2021-02/210204_AmanHero_Portrait_Amankila.jpg?itok=NJTl6X5r");
  height: 480px;
  width: auto;
  /* background-position: right; */
  background-size: cover;
  object-fit: cover;
  border: none;
  overflow: hidden;
}
.login-bg {
  background-image: url("https://img.freepik.com/free-vector/cartoon-background-with-friends-hitchhiking-stopping-bus-road_1284-60696.jpg?w=2000");
  height: 100vh;

  /* background-position: right; */
  background-size: cover;
  object-fit: cover;
  border: none;
  overflow: hidden;
}
